<!DOCTYPE html>
<html>

<head>
  <!--<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='Images/favicon.png') }}">-->
  <title>PA 100 Index</title>

  <link rel="stylesheet" href="../static/style.css">
  <nav>
    <a href="https://www1.lehigh.edu/home">
      <img src="{{ url_for('static', filename='Images/lehighbusinesscopypaste.png') }}" alt="Lehigh Business logo">
    </a>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="methodology">Methodology</a></li>
      <li><a href="team" style="font-style: italic;">Team</a></li>
      <li><a href="https://business.lehigh.edu/academics/graduate/masters-programs/ms-financial-engineering">MS in
          Financial Engineering</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>
</head>

<body>
  <div style="margin-top: 50px;"></div>

  <div class="rectangle">
    <h1>Lehigh University PA 100 Index Team</h1>
    <div style="margin-top: 50px;"></div>
  </div>
  <div class="center">
    <p>Based on an original idea by Professor Nandkumar Nayar in 2020, flanked by industry expert Alex Matturri 
      and supported by Lehigh's Master in Financial Engineering (MFE) program and its manager Patrick Zoro,
      The Lehigh University PA 100 Index is constructed, maintained, and updated by a team of Lehigh University Students. 
      This was originally a capstone project of the university’s MS in Financial Engineering program. 
      In addition it is a Lehigh University tool aimed at becoming a reference of performance for companies operating in Pennsylvania. 
      The index has seen involvement of Lehigh students from a diverse range of disciplines. 
      This project is made possible by MFE students and the contribution of multiple offices and programs at Lehigh University.</p>

  </div>
<!---
  <div style="text-align: center;">
    <h3>Current Team Members</h3>
  </div>
  <div class="container">
    <div class="left">
      <img src="{{ url_for('static', filename='Images/wasti.jpg') }}" alt="Wasti Farzan Khan">
      <div class="name">Wasti Farzan Khan</div>
    </div>
    <div class="right">
      <div class="grid-container">
        <div class="grid-item">
          <img src="{{ url_for('static', filename='Images/charlotte.jpg') }}">
          <div class="name">Charlotte Aschoff</div>
        </div>
        <div class="grid-item">
          <img src="{{ url_for('static', filename='Images/eli.jpg') }}">
          <div class="name">Eli Nathan</div>
        </div>
        <div class="grid-item">
          <img src="{{ url_for('static', filename='Images/daniel.jpg') }}">
          <div class="name">Dan Graney</div>
        </div>
        <div class="grid-item">
          <img src="{{ url_for('static', filename='Images/ruoxuan.jpg') }}">
          <div class="name">Ruoxuan Li</div>
        </div>

      </div>
    </div>
  </div>
--->
  <div style="text-align: center;">
    <h3>Team Members</h3>
  </div>
  
  <div style="text-align: center; display: flex; flex-wrap: wrap; justify-content: center;">
    
    <!-- Current Team -->
    <div style="margin: 20px;">
    <h4>Current Team</h4>
    <p><a href="https://www.linkedin.com/in/wastikhan/" target="_blank">Wasti Khan MFE'24</a></p>
    <p><a href="https://www.linkedin.com/in/nianguang-zhao/" target="_blank">Nianguang Zhao MFE'25</a></p>
    <p><a href="https://www.linkedin.com/in/johanan-anton-pranesh/" target="_blank">Johanan Pranesh MFE'25</a></p>
    <p><a href="https://www.linkedin.com/in/tshoaga-b3964823/" target="_blank">Shoaga Tolulope MFE'25</a></p>
    <p><a href="https://www.linkedin.com/in/charlotteaschoff/" target="_blank">Charlotte Aschoff</a></p>
    </div>

    <!-- 2020 Team -->
    <div style="margin: 20px;">
      <h4>2020</h4>
      <p>Ramos Wu MFE'23</p>
      <p>Jack Dean MFE'22</p>
      <p>Michael Mobarakai MFE'22</p>
    </div>
  
    <!-- 2021 Team -->
    <div style="margin: 20px;">
      <h4>2021</h4>
      <p>Ramos Wu MFE'23</p>
      <p>Matt Mahoney</p>
      <p>Kirin Zhang MFE'22</p>
      <p>Rebecca Zamsky</p>
      <p>Tiana Boutros</p>
    </div>
  
    <!-- 2022 Team -->
    <div style="margin: 20px;">
      <h4>2022</h4>
      <p>Ramos Wu MFE'23</p>
      <p>Matt Mahoney</p>
      <p>Kirin Zhang MFE'22</p>
      <p>Rebecca Zamsky</p>
      <p>Wasti Khan MFE'24</p>
      <p>Sam Mandelbraout MFE'24</p>
      <p>Daniel Graney</p>
    </div>
    <div style="margin: 20px;">
      <h4>2022</h4>
      <p>Ruoxuan Li</p>
      <p>Steve Nazaroff</p>
      <p>Jared Miller</p>
      <p>Andrew Mottram</p>
      <p>Leo Liu</p>
      <p>Teddy Polk</p>
      <p>Thiyara Nazaroff</p>
    </div>
  
    <!-- 2023 Team -->
    <div style="margin: 20px;">
      <h4>2023</h4>
      <p>Wasti Khan MFE'24</p>
      <p>Ramos Wu MFE'23</p>
      <p>Daniel Graney</p>
      <p>Charlotte Aschoff</p>
      <p>Shoaga Tolulope MFE'25</p>
      <p>Nianguang Zhao MFE'25</p>
      <p>Johanan Pranesh MFE'25</p>
    </div>
  
  </div>
    <!--- <div style="text-align: center;">
    <h3>Previous Team Members</h3>
  </div>
  <div style="text-align: center; display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="margin: 10px;">
      <p>Ramos Wu</p>
    </div>
    <div style="margin: 10px;">
      <p>Becky Zamsky</p>
      <p>Matt Mahoney</p>
    </div>
    <div style="margin: 10px;">
      <p>Kirin Zhang</p>
      <p>Steven Nazaroff</p>
    </div>
    <div style="margin: 10px;">
      <p>Thiyara Girihagama</p>
      <p>Baoyu Yin</p>
    </div>
    <div style="margin: 10px;">
      <p>Jared Miller</p>
      <p>Teddy Polk</p>
    </div>
    <div style="margin: 10px;">
      <p>Samuel Mandelbraut</p>
    </div>
  </div> --->
  <div style="text-align: center;">
    <h3>Sincere Thanks To</h3>
  </div>
  <div style="text-align:center; display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="margin: 10px;">
      <p>Alex Matturri<br>(Project Sponsor)</p>
      <p>Nandkumar Nayar<br>(Project ideation and support)</p>
    </div>
    <div style="margin: 10px;">
      <p>Chris Bialka<br>(Practical index calculation training)</p>
      <p>Patrick J. Zoro<br>(Program Manager)</p>
    </div>
    <div style="margin: 10px;">
      <p>Keith Erekson<br>(Technical Support)</p>
      <p>Nicholas Beetel<br>(Technical Support)</p>
    </div>
    <div style="margin: 10px;">
      <p>Amanda Caton<br>(Technical Support)</p>
      <p>Chris Creswell<br>(Technical Support)</p>
    </div>
    <div style="margin: 10px;">
      <p>LTS Systems Engineering</p>
    </div>
  </div>
  
</body>

</html>
